@{
    ViewData["Title"] = "MisEstudios";
}
<h1>@ViewData["Title"]</h1>

<p>Esto es Mis Estudios.</p>


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Curso</th>
      <th scope="col">Año de finalización</th>
      <th scope="col">Nota</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bachillerato</td>
      <td>2019</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ASIX</td>
      <td>2021</td>
      <td>8</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>DAW</td>
      <td>2022</td>
      <td>9</td>
    </tr>
  </tbody>
</table>

