@{
    ViewData["Title"] = "MisProyectos";
}
<h1>@ViewData["Title"]</h1>

<p>Aquí están todos los proyectos hechos por mí.</p>

<br /> <br />

<div class="row">

<div class="card margins" style="width: 18rem;">
  <img class="card-img-top" src="~/images/padel.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">eCommerce Pádel</h5>
    <p class="card-text">Creación de 0 de la eCommerce de un club deportivo en Llagostera.</p>
    <a href="https://playtomic.io/padel-llagostera/65687be3-9403-4968-8d7a-dc317f0e68f9?q=PADEL~2022-03-17~~~" class="btn btn-primary">Saber más</a>
  </div>
</div>


<div class="card margins" style="width: 18rem;">
    <br /> <br /> <br />
  <img class="card-img-top" src="~/images/Logo-Berger-Levrault.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Berger Levrault</h5>
    <p class="card-text">Creación de plan de automatización de todas las pruebas para el producto Simplifica de la empresa Berger Levrault.</p>
    <a href="https://www.berger-levrault.com/es/" class="btn btn-primary">Saber más</a>
  </div>
</div>

<div class="card margins" style="width: 18rem;">
  <img class="card-img-top" src="~/images/245px-Carrefour_logo.svg.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Carrefour</h5>
    <p class="card-text">Creación de 0 de toda la parte de atención al cliente de Carrefour España.</p>
    <a href="https://www.carrefour.es/" class="btn btn-primary">Saber más</a>
  </div>
</div>
</div>

<br /> <br />


<div class="row">

<div class="card margins" style="width: 18rem;">
    <br /> <br />
  <img class="card-img-top" src="~/images/dani.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Colaboración con DanielaCORP</h5>
    <p class="card-text">Trabajando junto a la empresa DanielaCORP para hacer el montaje de toda la infraestructura del servidor, ya que queremos informatizar toda la empresa.</p>
    <a href="https://www.google.com/search?q=daniela+corp&oq=daniela+corp&aqs=edge..69i57j0i19j0i19i22i30l7.1797j0j9&sourceid=chrome&ie=UTF-8" class="btn btn-primary">Saber más</a>
  </div>
</div>


<div class="card margins" style="width: 18rem;">
  <img class="card-img-top" src="~/images/pixel.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Colaboracion con Google</h5>
    <p class="card-text">Durante 1 año y 2 meses estuve trabajando con Google para desarrollar una nueva app. Esta consistía en una aplicación para gestionar los auriculares Pixel que tiene Google. Estuvimos trabajando con C, Java, VisualBasic y C Sharp.</p>
    <a href="https://store.google.com/es/magazine/pixel_buds_compare?pli=1&hl=es" class="btn btn-primary">Saber más</a>
  </div>
</div>

<div class="card margins" style="width: 18rem;">
  <img class="card-img-top" src="~/images/unicef.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Unicef</h5>
    <p class="card-text">2 meses trabajando con Unicef para la creación de una página web donde se puediera donar tanto alimentos como dinero. Este proyecto duró poco ya que el trabajo no era muy extenso y eramos un equipo muy completo.</p>
    <a href="https://www.unicef.es/" class="btn btn-primary">Saber más</a>
  </div>
</div>


</div>